<h1>Listing all the rumors...</h1>
<table>
	<tr>
		<th>Status</th>
		<th>User</th>
	</tr>
	<% @rumor.each do |rumor| %>
	<tr>
		<td><%= link_to rumor.status, rumor %></td>
		<td><%= link_to rumor.user.name, rumor.user %></td>
		<td><%= link_to "Edit", edit_rumor_path(rumor) %></td>
		<td><%= link_to "New", new_rumor_path(rumor) %></td>
	</tr>
	<%end%>
	<%if Rumor.all.size==0%>
		<em>No Rumors found...</em>
	<%end%>
</table>

