<!DOCTYPE html>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>

<html>
	<head><title>Rumoooors</title></head>
	<body>
	<header>rumoOoooOOors de ta mère...</header>
	
	<%if flash[:notice]%>
		<div id="notice"><%= flash[:notice]%></div>
	<%end%>
	
	<%= yield%>
	
	</body>
</html>
